@import "../colors.css";

$base-color: #464646;
$highlight-color: #6D6D6D;
$notification-color: #F1F1F1;
$action-color: #DFDFDF;
$button-color: #21759B;

@import "../../../../wp-admin/css/colors/_admin.scss";

